<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--自定义颜色配置-->
    <conversionRule conversionWord="customcolor" converterClass="com.cmj.example.LogbackColorful"/>
    <!--控制台日志配置-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %customcolor(%-5level) --- %magenta([%10thread]) %cyan(%logger{15}) : %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <!--日志文件配置-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/App%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>7</maxHistory>-->
<!--            <maxFileSize>100MB</maxFileSize>-->
<!--            <totalSizeCap>2GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <!--自定义日志等级-->
<!--    <logger name="cn.mrxionge" level="debug"/>-->
<!--    <logger name="io.vertx" level="debug"/>-->
<!--    <logger name="io.netty" level="debug"/>-->
<!--    &lt;!&ndash;全局日志等级&ndash;&gt;-->
    <root level="INFO">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>

    <!--监控sql日志输出 -->
    <logger name="jdbc.sqlonly" level="OFF" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <!--  如不想看到表格数据，将INFO改为OFF -->
    <logger name="jdbc.resultsettable" level="INFO" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="jdbc.resultset" level="ERROR" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="jdbc.sqltiming" level="INFO" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="jdbc.audit" level="OFF" additivity="false">
        <appender-ref ref="console" />
    </logger>
</configuration>